<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Acid</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>9</string>
		<key>dps</key>
		<string>11.25</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aerial Ace</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>55</string>
		<key>dps</key>
		<string>19.00</string>
		<key>eps</key>
		<string>-13.8</string>
		<key>time</key>
		<string>2.40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Air Cutter</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>18.80</string>
		<key>eps</key>
		<string>-18.50</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Air Slash</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>14</string>
		<key>dps</key>
		<string>11.67</string>
		<key>eps</key>
		<string>8.33</string>
		<key>time</key>
		<string>1.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ancient Power</string>
		<key>type</key>
		<string>Rock</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>17.50</string>
		<key>eps</key>
		<string>-9.40</string>
		<key>time</key>
		<string>3.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aqua Jet</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>45</string>
		<key>dps</key>
		<string>14.50</string>
		<key>eps</key>
		<string>-12.7</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aqua Tail</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>20.80</string>
		<key>eps</key>
		<string>-17.40</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Astonish</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>8</string>
		<key>dps</key>
		<string>7.27</string>
		<key>eps</key>
		<string>12.73</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aurora Beam</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>19.8</string>
		<key>eps</key>
		<string>-14.10</string>
		<key>time</key>
		<string>3.55</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Avalanche</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>28.10</string>
		<key>eps</key>
		<string>-18.50</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bite</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>6</string>
		<key>dps</key>
		<string>12.00</string>
		<key>eps</key>
		<string>8.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blizzard</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>130</string>
		<key>dps</key>
		<string>36.1</string>
		<key>eps</key>
		<string>-32.3</string>
		<key>time</key>
		<string>3.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Body Slam</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>26.32</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bone Club</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>40</string>
		<key>dps</key>
		<string>19.00</string>
		<key>eps</key>
		<string>-20.6</string>
		<key>time</key>
		<string>1.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brave Bird</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>36.00</string>
		<key>eps</key>
		<string>-50</string>
		<key>time</key>
		<string>2.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brick Break</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>40</string>
		<key>dps</key>
		<string>19.00</string>
		<key>eps</key>
		<string>-20.60</string>
		<key>time</key>
		<string>1.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brine</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>21.40</string>
		<key>eps</key>
		<string>-21.70</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bubble</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>12</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>11.67</string>
		<key>time</key>
		<string>1.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bubble Beam</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>45</string>
		<key>dps</key>
		<string>18.80</string>
		<key>eps</key>
		<string>-17.40</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bug Bite</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>12.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bug Buzz</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>21.40</string>
		<key>eps</key>
		<string>-13.5</string>
		<key>time</key>
		<string>3.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bulldoze</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>20.00</string>
		<key>eps</key>
		<string>-14.30</string>
		<key>time</key>
		<string>3.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bullet Punch</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>9</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>11.11</string>
		<key>time</key>
		<string>0.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bullet Seed</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>8</string>
		<key>dps</key>
		<string>7.27</string>
		<key>eps</key>
		<string>12.73</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Charge Beam</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>8</string>
		<key>dps</key>
		<string>7.27</string>
		<key>eps</key>
		<string>13.64</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Close Combat</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>35.70</string>
		<key>eps</key>
		<string>-43.50</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Confusion</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>20</string>
		<key>dps</key>
		<string>12.50</string>
		<key>eps</key>
		<string>9.38</string>
		<key>time</key>
		<string>1.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Counter</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>12</string>
		<key>dps</key>
		<string>13.33</string>
		<key>eps</key>
		<string>8.89</string>
		<key>time</key>
		<string>0.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cross Chop</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>25.00</string>
		<key>eps</key>
		<string>-33.30</string>
		<key>time</key>
		<string>1.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cross Poison</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>40</string>
		<key>dps</key>
		<string>20.00</string>
		<key>eps</key>
		<string>-22.00</string>
		<key>time</key>
		<string>1.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crunch</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>18.9</string>
		<key>eps</key>
		<string>-10.3</string>
		<key>time</key>
		<string>3.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cut</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dark Pulse</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>22.90</string>
		<key>eps</key>
		<string>-16.70</string>
		<key>time</key>
		<string>3.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dazzling Gleam</string>
		<key>type</key>
		<string>Fairy</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>25.00</string>
		<key>eps</key>
		<string>-14.3</string>
		<key>time</key>
		<string>3.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dig</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>19.20</string>
		<key>eps</key>
		<string>-10.6</string>
		<key>time</key>
		<string>4.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Disarming Voice</string>
		<key>type</key>
		<string>Fairy</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>15.90</string>
		<key>eps</key>
		<string>-8.50</string>
		<key>time</key>
		<string>3.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Discharge</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>65</string>
		<key>dps</key>
		<string>21.70</string>
		<key>eps</key>
		<string>-13.2</string>
		<key>time</key>
		<string>2.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dragon Breath</string>
		<key>type</key>
		<string>Dragon</string>
		<key>pwr</key>
		<string>6</string>
		<key>dps</key>
		<string>12.00</string>
		<key>eps</key>
		<string>8.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dragon Claw</string>
		<key>type</key>
		<string>Dragon</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>22.70</string>
		<key>eps</key>
		<string>-19.40</string>
		<key>time</key>
		<string>1.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dragon Pulse</string>
		<key>type</key>
		<string>Dragon</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>22.00</string>
		<key>eps</key>
		<string>-13.90</string>
		<key>time</key>
		<string>3.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dragon Tail</string>
		<key>type</key>
		<string>Dragon</string>
		<key>pwr</key>
		<string>15</string>
		<key>dps</key>
		<string>13.64</string>
		<key>eps</key>
		<string>8.18</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Draining Kiss</string>
		<key>type</key>
		<string>Fairy</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>19.40</string>
		<key>eps</key>
		<string>-19.2</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Drill Peck</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>21.40</string>
		<key>eps</key>
		<string>-14.30</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Drill Run</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>24.20</string>
		<key>eps</key>
		<string>-17.90</string>
		<key>time</key>
		<string>2.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dynamic Punch</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>28.10</string>
		<key>eps</key>
		<string>-18.50</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Earthquake</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>120</string>
		<key>dps</key>
		<string>29.30</string>
		<key>eps</key>
		<string>-27.80</string>
		<key>time</key>
		<string>3.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ember</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>10</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>1.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Energy Ball</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>20.5</string>
		<key>eps</key>
		<string>-12.80</string>
		<key>time</key>
		<string>3.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Extrasensory</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>12</string>
		<key>dps</key>
		<string>10.91</string>
		<key>eps</key>
		<string>10.91</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Feint Attack</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>10</string>
		<key>dps</key>
		<string>11.11</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire Blast</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>140</string>
		<key>dps</key>
		<string>29.80</string>
		<key>eps</key>
		<string>-23.80</string>
		<key>time</key>
		<string>4.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire Fang</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>11</string>
		<key>dps</key>
		<string>12.22</string>
		<key>eps</key>
		<string>8.89</string>
		<key>time</key>
		<string>0.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire Punch</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>55</string>
		<key>dps</key>
		<string>20.40</string>
		<key>eps</key>
		<string>-15.00</string>
		<key>time</key>
		<string>2.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire Spin</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>14</string>
		<key>dps</key>
		<string>12.73</string>
		<key>eps</key>
		<string>9.09</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flame Burst</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>22.60</string>
		<key>eps</key>
		<string>-19.20</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flame Charge</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>16.30</string>
		<key>eps</key>
		<string>-8.70</string>
		<key>time</key>
		<string>3.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flame Wheel</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>18.80</string>
		<key>eps</key>
		<string>-18.50</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flamethrower</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>25.90</string>
		<key>eps</key>
		<string>-22.70</string>
		<key>time</key>
		<string>2.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flash Cannon</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>31.30</string>
		<key>eps</key>
		<string>-37.00</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Focus Blast</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>140</string>
		<key>dps</key>
		<string>35.00</string>
		<key>eps</key>
		<string>-28.60</string>
		<key>time</key>
		<string>3.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Foul Play</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>28.00</string>
		<key>eps</key>
		<string>-25.00</string>
		<key>time</key>
		<string>2.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Frost Breath</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>10</string>
		<key>dps</key>
		<string>11.11</string>
		<key>eps</key>
		<string>8.89</string>
		<key>time</key>
		<string>0.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fury Cutter</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>3</string>
		<key>dps</key>
		<string>7.50</string>
		<key>eps</key>
		<string>15.00</string>
		<key>time</key>
		<string>0.40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Future Sight</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>120</string>
		<key>dps</key>
		<string>37.50</string>
		<key>eps</key>
		<string>-37.00</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Giga Drain</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>11.36</string>
		<key>eps</key>
		<string>-33.00</string>
		<key>time</key>
		<string>3.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grass Knot</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>29.00</string>
		<key>eps</key>
		<string>-19.20</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gunk Shot</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>130</string>
		<key>dps</key>
		<string>36.10</string>
		<key>eps</key>
		<string>-32.30</string>
		<key>time</key>
		<string>3.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gyro Ball</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>21.10</string>
		<key>eps</key>
		<string>-15.20</string>
		<key>time</key>
		<string>3.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heat Stamp</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>40</string>
		<key>dps</key>
		<string>21.05</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>3.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heat Wave</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>95</string>
		<key>dps</key>
		<string>27.10</string>
		<key>eps</key>
		<string>-33.30</string>
		<key>time</key>
		<string>3.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heavy Slam</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>26.90</string>
		<key>eps</key>
		<string>-23.8</string>
		<key>time</key>
		<string>2.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hex</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>10</string>
		<key>dps</key>
		<string>8.33</string>
		<key>eps</key>
		<string>12.50</string>
		<key>time</key>
		<string>1.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hidden Power</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>15</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>1.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Horn Attack</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>40</string>
		<key>dps</key>
		<string>17.00</string>
		<key>eps</key>
		<string>-17.80</string>
		<key>time</key>
		<string>1.85</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hurricane</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>110</string>
		<key>dps</key>
		<string>34.40</string>
		<key>eps</key>
		<string>-37.00</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hydro Pump</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>130</string>
		<key>dps</key>
		<string>34.20</string>
		<key>eps</key>
		<string>-30.30</string>
		<key>time</key>
		<string>3.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hyper Beam</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>150</string>
		<key>dps</key>
		<string>34.90</string>
		<key>eps</key>
		<string>-26.30</string>
		<key>time</key>
		<string>3.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hyper Fang</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>26.70</string>
		<key>eps</key>
		<string>-20.00</string>
		<key>time</key>
		<string>3.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ice Beam</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>23.70</string>
		<key>eps</key>
		<string>-15.20</string>
		<key>time</key>
		<string>3.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ice Punch</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>20.80</string>
		<key>eps</key>
		<string>-17.40</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ice Shard</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>12</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>1.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ice Wind</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>15.80</string>
		<key>eps</key>
		<string>-10.00</string>
		<key>time</key>
		<string>3.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Infestation</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>10</string>
		<key>dps</key>
		<string>9.09</string>
		<key>eps</key>
		<string>12.73</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iron Head</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>25.00</string>
		<key>eps</key>
		<string>-26.30</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iron Tail</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>15</string>
		<key>dps</key>
		<string>13.64</string>
		<key>eps</key>
		<string>6.36</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Karate Chop</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>8</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>12.50</string>
		<key>time</key>
		<string>0.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Leaf Blade</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>24.10</string>
		<key>eps</key>
		<string>-13.80</string>
		<key>time</key>
		<string>2.40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lick</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>12.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Low Kick</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>6</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Low Sweep</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>40</string>
		<key>dps</key>
		<string>16.70</string>
		<key>eps</key>
		<string>-17.40</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Magnet Bomb</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>21.20</string>
		<key>eps</key>
		<string>-11.80</string>
		<key>time</key>
		<string>2.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mega Drain</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>25</string>
		<key>dps</key>
		<string>9.62</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Megahorn</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>33.30</string>
		<key>eps</key>
		<string>-45.50</string>
		<key>time</key>
		<string>2.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Metal Claw</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>8</string>
		<key>dps</key>
		<string>11.43</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mirror Coat</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>19.40</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moonblast</string>
		<key>type</key>
		<string>Fairy</string>
		<key>pwr</key>
		<string>130</string>
		<key>dps</key>
		<string>29.50</string>
		<key>eps</key>
		<string>-25.60</string>
		<key>time</key>
		<string>3.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mud Bomb</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>55</string>
		<key>dps</key>
		<string>19.60</string>
		<key>eps</key>
		<string>-14.30</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mud Shot</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>8.33</string>
		<key>eps</key>
		<string>11.67</string>
		<key>time</key>
		<string>0.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mud Slap</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>15</string>
		<key>dps</key>
		<string>10.71</string>
		<key>eps</key>
		<string>8.57</string>
		<key>time</key>
		<string>1.40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Night Shade</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>19.40</string>
		<key>eps</key>
		<string>-19.20</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Night Slash</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>18.50</string>
		<key>eps</key>
		<string>-15.00</string>
		<key>time</key>
		<string>2.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ominous Wind</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>17.90</string>
		<key>eps</key>
		<string>-14.30</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Outrage</string>
		<key>type</key>
		<string>Dragon</string>
		<key>pwr</key>
		<string>110</string>
		<key>dps</key>
		<string>25.00</string>
		<key>eps</key>
		<string>-12.80</string>
		<key>time</key>
		<string>3.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Overheat</string>
		<key>type</key>
		<string>Fire</string>
		<key>pwr</key>
		<string>160</string>
		<key>dps</key>
		<string>35.60</string>
		<key>eps</key>
		<string>-25.00</string>
		<key>time</key>
		<string>4.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parabolic Charge</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>25</string>
		<key>dps</key>
		<string>8.93</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>2.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Peck</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>10</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>1.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Petal Blizzard</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>110</string>
		<key>dps</key>
		<string>35.50</string>
		<key>eps</key>
		<string>-38.50</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Play Rough</string>
		<key>type</key>
		<string>Fairy</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>26.50</string>
		<key>eps</key>
		<string>-17.20</string>
		<key>time</key>
		<string>2.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Poison Fang</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>35</string>
		<key>dps</key>
		<string>15.90</string>
		<key>eps</key>
		<string>-19.40</string>
		<key>time</key>
		<string>1.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Poison Jab</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>10</string>
		<key>dps</key>
		<string>12.50</string>
		<key>eps</key>
		<string>8.75</string>
		<key>time</key>
		<string>0.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Poison Sting</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>8.33</string>
		<key>eps</key>
		<string>11.67</string>
		<key>time</key>
		<string>0.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pound</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>7</string>
		<key>dps</key>
		<string>11.67</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Powder Snow</string>
		<key>type</key>
		<string>Ice</string>
		<key>pwr</key>
		<string>6</string>
		<key>dps</key>
		<string>6.00</string>
		<key>eps</key>
		<string>15.00</string>
		<key>time</key>
		<string>1.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Power Gem</string>
		<key>type</key>
		<string>Rock</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>23.50</string>
		<key>eps</key>
		<string>-17.20</string>
		<key>time</key>
		<string>2.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Power Whip</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>29.00</string>
		<key>eps</key>
		<string>-19.20</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Psybeam</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>18.90</string>
		<key>eps</key>
		<string>-15.60</string>
		<key>time</key>
		<string>3.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Psychic</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>30.30</string>
		<key>eps</key>
		<string>-35.70</string>
		<key>time</key>
		<string>2.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Psycho Cut</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>8.33</string>
		<key>eps</key>
		<string>13.33</string>
		<key>time</key>
		<string>0.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Psyshock</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>65</string>
		<key>dps</key>
		<string>20.30</string>
		<key>eps</key>
		<string>-12.20</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Psystrike</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>22.73</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>4.40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quick Attack</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>8</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>12.50</string>
		<key>time</key>
		<string>0.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Razor Leaf</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>13</string>
		<key>dps</key>
		<string>13.00</string>
		<key>eps</key>
		<string>7.00</string>
		<key>time</key>
		<string>1.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rest</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>26.32</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock Blast</string>
		<key>type</key>
		<string>Rock</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>19.20</string>
		<key>eps</key>
		<string>-15.70</string>
		<key>time</key>
		<string>2.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock Slide</string>
		<key>type</key>
		<string>Rock</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>25.00</string>
		<key>eps</key>
		<string>-18.50</string>
		<key>time</key>
		<string>2.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock Smash</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>15</string>
		<key>dps</key>
		<string>11.54</string>
		<key>eps</key>
		<string>7.69</string>
		<key>time</key>
		<string>1.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock Throw</string>
		<key>type</key>
		<string>Rock</string>
		<key>pwr</key>
		<string>12</string>
		<key>dps</key>
		<string>13.33</string>
		<key>eps</key>
		<string>7.78</string>
		<key>time</key>
		<string>0.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock Tomb</string>
		<key>type</key>
		<string>Rock</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>18,90</string>
		<key>eps</key>
		<string>-15.60</string>
		<key>time</key>
		<string>3.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sand Tomb</string>
		<key>type</key>
		<string>Ground</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>17.80</string>
		<key>eps</key>
		<string>-12.50</string>
		<key>time</key>
		<string>4.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scald</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>19.00</string>
		<key>eps</key>
		<string>-13.50</string>
		<key>time</key>
		<string>3.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scratch</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>6</string>
		<key>dps</key>
		<string>12.00</string>
		<key>eps</key>
		<string>8.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Seed Bomb</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>55</string>
		<key>dps</key>
		<string>21.2</string>
		<key>eps</key>
		<string>-15.70</string>
		<key>time</key>
		<string>2.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shadow Ball</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>28.60</string>
		<key>eps</key>
		<string>-16.70</string>
		<key>time</key>
		<string>3.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shadow Claw</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>9</string>
		<key>dps</key>
		<string>12.86</string>
		<key>eps</key>
		<string>8.57</string>
		<key>time</key>
		<string>0.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shadow Punch</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>40</string>
		<key>dps</key>
		<string>23.53</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>1.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shadow Sneak</string>
		<key>type</key>
		<string>Ghost</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>17.24</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>2.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Signal Beam</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>75</string>
		<key>dps</key>
		<string>22.10</string>
		<key>eps</key>
		<string>-17.20</string>
		<key>time</key>
		<string>2.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Silver Wind</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>16.70</string>
		<key>eps</key>
		<string>-8.90</string>
		<key>time</key>
		<string>3.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky Attack</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>28.00</string>
		<key>eps</key>
		<string>-25.00</string>
		<key>time</key>
		<string>2.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sludge</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>50</string>
		<key>dps</key>
		<string>19.20</string>
		<key>eps</key>
		<string>-15.70</string>
		<key>time</key>
		<string>2.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sludge Bomb</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>28.60</string>
		<key>eps</key>
		<string>-21.70</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sludge Wave</string>
		<key>type</key>
		<string>Poison</string>
		<key>pwr</key>
		<string>110</string>
		<key>dps</key>
		<string>29.70</string>
		<key>eps</key>
		<string>-31.30</string>
		<key>time</key>
		<string>3.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Snarl</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>12</string>
		<key>dps</key>
		<string>10.91</string>
		<key>eps</key>
		<string>10.91</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Solar Beam</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>180</string>
		<key>dps</key>
		<string>33.30</string>
		<key>eps</key>
		<string>-20.40</string>
		<key>time</key>
		<string>4.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spark</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>6</string>
		<key>dps</key>
		<string>8.57</string>
		<key>eps</key>
		<string>12.86</string>
		<key>time</key>
		<string>0.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Splash</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>0</string>
		<key>dps</key>
		<string>0.00</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>1.73</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Steel Wing</string>
		<key>type</key>
		<string>Steel</string>
		<key>pwr</key>
		<string>11</string>
		<key>dps</key>
		<string>13.75</string>
		<key>eps</key>
		<string>7.50</string>
		<key>time</key>
		<string>0.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stomp</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>55</string>
		<key>dps</key>
		<string>25.00</string>
		<key>eps</key>
		<string>-29.40</string>
		<key>time</key>
		<string>1.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stone Edge</string>
		<key>type</key>
		<string>Rock</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>35.70</string>
		<key>eps</key>
		<string>-43.50</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Struggle</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>35</string>
		<key>dps</key>
		<string>13.00</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>2.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Struggle Bug</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>15</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>1.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Submission</string>
		<key>type</key>
		<string>Fighting</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>22.20</string>
		<key>eps</key>
		<string>-22.70</string>
		<key>time</key>
		<string>2.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sucker Punch</string>
		<key>type</key>
		<string>Dark</string>
		<key>pwr</key>
		<string>7</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>11.43</string>
		<key>time</key>
		<string>0.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swift</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>18.20</string>
		<key>eps</key>
		<string>-17.90</string>
		<key>time</key>
		<string>2.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tackle</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thunder</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>100</string>
		<key>dps</key>
		<string>34.50</string>
		<key>eps</key>
		<string>-41.70</string>
		<key>time</key>
		<string>2.40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thunder Punch</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>45</string>
		<key>dps</key>
		<string>19.60</string>
		<key>eps</key>
		<string>-18.30</string>
		<key>time</key>
		<string>1.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thunder Shock</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>8.33</string>
		<key>eps</key>
		<string>13.33</string>
		<key>time</key>
		<string>0.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thunderbolt</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>80</string>
		<key>dps</key>
		<string>26.70</string>
		<key>eps</key>
		<string>-20.00</string>
		<key>time</key>
		<string>2.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Transform</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>0</string>
		<key>dps</key>
		<string>0.00</string>
		<key>eps</key>
		<string>0.00</string>
		<key>time</key>
		<string>2.23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Twister</string>
		<key>type</key>
		<string>Dragon</string>
		<key>pwr</key>
		<string>45</string>
		<key>dps</key>
		<string>13.60</string>
		<key>eps</key>
		<string>-11.80</string>
		<key>time</key>
		<string>2.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vice Grip</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>35</string>
		<key>dps</key>
		<string>14.60</string>
		<key>eps</key>
		<string>-17.40</string>
		<key>time</key>
		<string>1.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vine Whip</string>
		<key>type</key>
		<string>Grass</string>
		<key>pwr</key>
		<string>7</string>
		<key>dps</key>
		<string>11.67</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Volt Switch</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>20</string>
		<key>dps</key>
		<string>8.70</string>
		<key>eps</key>
		<string>10.87</string>
		<key>time</key>
		<string>2.30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Gun</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>5</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>10.00</string>
		<key>time</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Pulse</string>
		<key>type</key>
		<string>Water</string>
		<key>pwr</key>
		<string>70</string>
		<key>dps</key>
		<string>18.90</string>
		<key>eps</key>
		<string>-15.60</string>
		<key>time</key>
		<string>3.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wild Charge</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>90</string>
		<key>dps</key>
		<string>29.00</string>
		<key>eps</key>
		<string>-19.20</string>
		<key>time</key>
		<string>2.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wing Attack</string>
		<key>type</key>
		<string>Flying</string>
		<key>pwr</key>
		<string>8</string>
		<key>dps</key>
		<string>10.00</string>
		<key>eps</key>
		<string>11.25</string>
		<key>time</key>
		<string>0.80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wrap</string>
		<key>type</key>
		<string>Normal</string>
		<key>pwr</key>
		<string>60</string>
		<key>dps</key>
		<string>17.60</string>
		<key>eps</key>
		<string>-11.40</string>
		<key>time</key>
		<string>2.90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>X-Scissor</string>
		<key>type</key>
		<string>Bug</string>
		<key>pwr</key>
		<string>45</string>
		<key>dps</key>
		<string>21.40</string>
		<key>eps</key>
		<string>-20.6</string>
		<key>time</key>
		<string>1.60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zap Cannon</string>
		<key>type</key>
		<string>Electric</string>
		<key>pwr</key>
		<string>140</string>
		<key>dps</key>
		<string>33.30</string>
		<key>eps</key>
		<string>-27.00</string>
		<key>time</key>
		<string>3.70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zen Headbutt</string>
		<key>type</key>
		<string>Psychic</string>
		<key>pwr</key>
		<string>12</string>
		<key>dps</key>
		<string>10.91</string>
		<key>eps</key>
		<string>9.09</string>
		<key>time</key>
		<string>1.10</string>
	</dict>
</array>
</plist>
