<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Normal</string>
		<key>color_code</key>
		<string>a8a878</string>
		<key>icon</key>
		<string>normal_icon</string>
		<key>strong_against</key>
		<array>
			<string>Ghost</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Fighting</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Fighting</string>
		<key>color_code</key>
		<string>c02038</string>
		<key>icon</key>
		<string>fighting_icon</string>
		<key>strong_against</key>
		<array>
			<string>Rock</string>
			<string>Bug</string>
			<string>Dark</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Flying</string>
			<string>Psychic</string>
			<string>Fairy</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Flying</string>
		<key>color_code</key>
		<string>a890f0</string>
		<key>icon</key>
		<string>flying_icon</string>
		<key>strong_against</key>
		<array>
			<string>Fighting</string>
			<string>Ground</string>
			<string>Bug</string>
			<string>Grass</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Rock</string>
			<string>Electric</string>
			<string>Ice</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Poison</string>
		<key>color_code</key>
		<string>a040a0</string>
		<key>icon</key>
		<string>poison_icon</string>
		<key>strong_against</key>
		<array>
			<string>Fighting</string>
			<string>Poison</string>
			<string>Bug</string>
			<string>Grass</string>
			<string>Fairy</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Ground</string>
			<string>Psychic</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ground</string>
		<key>color_code</key>
		<string>e0c068</string>
		<key>icon</key>
		<string>ground_icon</string>
		<key>strong_against</key>
		<array>
			<string>Poison</string>
			<string>Rock</string>
			<string>Electric</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Water</string>
			<string>Grass</string>
			<string>Ice</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock</string>
		<key>color_code</key>
		<string>b8a038</string>
		<key>icon</key>
		<string>rock_icon</string>
		<key>strong_against</key>
		<array>
			<string>Normal</string>
			<string>Flying</string>
			<string>Poison</string>
			<string>Fire</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Fighting</string>
			<string>Ground</string>
			<string>Steel</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Bug</string>
		<key>color_code</key>
		<string>a8b820</string>
		<key>icon</key>
		<string>bug_icon</string>
		<key>strong_against</key>
		<array>
			<string>Fighting</string>
			<string>Ground</string>
			<string>Grass</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Flying</string>
			<string>Rock</string>
			<string>Fire</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ghost</string>
		<key>color_code</key>
		<string>705898</string>
		<key>icon</key>
		<string>ghost_icon</string>
		<key>strong_against</key>
		<array>
			<string>Normal</string>
			<string>Fighting</string>
			<string>Poison</string>
			<string>Bug</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Ghost</string>
			<string>Dark</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Steel</string>
		<key>color_code</key>
		<string>b8b8d0</string>
		<key>icon</key>
		<string>steel_icon</string>
		<key>strong_against</key>
		<array>
			<string>Normal</string>
			<string>Flying</string>
			<string>Poison</string>
			<string>Rock</string>
			<string>Bug</string>
			<string>Steel</string>
			<string>Grass</string>
			<string>Psychic</string>
			<string>Ice</string>
			<string>Dragon</string>
			<string>Fairy</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Fighting</string>
			<string>Ground</string>
			<string>Fire</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire</string>
		<key>color_code</key>
		<string>f08030</string>
		<key>icon</key>
		<string>fire_icon</string>
		<key>strong_against</key>
		<array>
			<string>Bug</string>
			<string>Steel</string>
			<string>Fire</string>
			<string>Grass</string>
			<string>Ice</string>
			<string>Fairy</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Ground</string>
			<string>Rock</string>
			<string>Water</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Water</string>
		<key>color_code</key>
		<string>6890f0</string>
		<key>icon</key>
		<string>water_icon</string>
		<key>strong_against</key>
		<array>
			<string>Steel</string>
			<string>Fire</string>
			<string>Water</string>
			<string>Ice</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Grass</string>
			<string>Electric</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Grass</string>
		<key>color_code</key>
		<string>78c850</string>
		<key>icon</key>
		<string>grass_icon</string>
		<key>strong_against</key>
		<array>
			<string>Ground</string>
			<string>Water</string>
			<string>Grass</string>
			<string>Electric</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Flying</string>
			<string>Poison</string>
			<string>Bug</string>
			<string>Fire</string>
			<string>Ice</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Electric</string>
		<key>color_code</key>
		<string>f8d030</string>
		<key>icon</key>
		<string>electric_icon</string>
		<key>strong_against</key>
		<array>
			<string>Flying</string>
			<string>Steel</string>
			<string>Electric</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Ground</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Psychic</string>
		<key>color_code</key>
		<string>f85888</string>
		<key>icon</key>
		<string>psychic_icon</string>
		<key>strong_against</key>
		<array>
			<string>Fighting</string>
			<string>Psychic</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Bug</string>
			<string>Ghost</string>
			<string>Dark</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ice</string>
		<key>color_code</key>
		<string>7038f8</string>
		<key>icon</key>
		<string>ice_icon</string>
		<key>strong_against</key>
		<array>
			<string>Ice</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Rock</string>
			<string>Steel</string>
			<string>Fire</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dragon</string>
		<key>color_code</key>
		<string>7038f8</string>
		<key>icon</key>
		<string>dragon_icon</string>
		<key>strong_against</key>
		<array>
			<string>Fire</string>
			<string>Water</string>
			<string>Grass</string>
			<string>Electric</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Ice</string>
			<string>Dragon</string>
			<string>Fairy</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dark</string>
		<key>color_code</key>
		<string>705848</string>
		<key>icon</key>
		<string>dark_icon</string>
		<key>strong_against</key>
		<array>
			<string>Ghost</string>
			<string>Psychic</string>
			<string>Dark</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Fighting</string>
			<string>Bug</string>
			<string>Fairy</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Fairy</string>
		<key>color_code</key>
		<string>ee99ca</string>
		<key>icon</key>
		<string>fairy_icon</string>
		<key>strong_against</key>
		<array>
			<string>Fighting</string>
			<string>Bug</string>
			<string>Dragon</string>
			<string>Dark</string>
		</array>
		<key>weak_against</key>
		<array>
			<string>Poison</string>
			<string>Steel</string>
		</array>
	</dict>
</array>
</plist>
